/* div{
    border: 1px solid red;
} */

body{
    background-color: lightgrey;
    display: flex;
    align-items: center;
    flex-direction: column;
}
   
.project-title{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgrey;
    padding: 15px;
}

.app-container{
    display: flex; 
    justify-content: center;   
    align-items: center; 
    background-color: dimgrey;  
    gap: 10px;
    border: thin solid black;
    border-radius: 0.5em;
    padding: 20px;
}

.container{  
    height: 1000px;
    width: 1000px;    
    display: inline-grid;
    border: 1px solid black;
    background-color: white;
}
 
.row{   
    display: flex;
    flex: 1;  
}

.cell{  
    background-color: white;
    border: thin solid lightgrey;
    color:  black;
    flex: 1;
}   
 
.buttons-container{
    display: flex;  
    flex-direction: column;
}   

.reset-button{
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  background-color: white;
  display: inline-block;   
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: black;
  border-radius: 0.25em; 
  background: white;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
  transition: 0.3s;
  border: none;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.reset-button:active {  
  background-color: black;  
  transform: scale(.96);   
}    
   
.button-label {  
    display: inline-block; 
    padding: 1em 2em;
    margin: 0.5em;
    cursor: pointer;
    color: black;
    border-radius: 0.25em;
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    transition: 0.3s;
    user-select: none;
    text-align: center;
  }  

h1 {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}  
  
#black-button:checked + .button-label {
    background: black;
    color: white;
}
  
#random-button:checked + .button-label { 
    background: yellowgreen;
    background: linear-gradient(to right ,red, orange , yellow, green, cyan, blue, violet);
    color: white;
}
  
#erase-button:checked + .button-label { 
    background: #A91B0D;
    color: white;
}

#grid-button:checked + .button-label { 
    background: grey;
    color: black;
}
    
.hidden {   
    display: none;
}        

.grid-slider-text{
    color: white;  
    text-align: center;   
    padding-top: 100px;
    padding-bottom: 10px;
}
  