/* div{
    border: 1px solid red;
} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 600px;
    width: 600px;
    display: inline-grid;
    border: 1px solid black;
}

.row{
    display: flex;
    flex: 1;
}

.cell{
    border: none;
    color:  black;
    flex: 1;
}

   